$text-color: #3D3D3D; // Define a color variable
$background-color: #6D6D6D; // Define a background color variable

body {
    color: $text-color;
    background-color: $background-color;
}
p {
    color: $text-color;

}
h2 {
    background-color: $background-color;
}